<div>
  <div class="row">
    <nav class="navbar navbar-dark bg-primary">
        <div class="col-lg-6">
          <a class="navbar-brand" routerLink="" [style.color]= "'white'"><strong>ASHOP</strong></a>
        </div>
        <div class="col-lg-4">
          <div class="input-group">
            <div class="form-outline">
              <input type="search" id="form1"  placeholder="Search" class="form-control" />
            </div>
            <button type="button" class="btn btn-primary">
              <i class="material-icons">search</i>
            </button>
        </div>
        </div>
        <div class="col-lg-2">
          <button type="button" class="btn btn-success" routerLink="cart"><span class="material-icons">
            shopping_cart
            </span>{{item}}</button>
        </div>
      </nav>
    </div>
</div>
