
<!-- <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button"  routerLink="/app-root">Main</button>
    <button class="btn btn-sm btn-outline-secondary"  type="button" routerLink="/app-home">Home</button>
    <button class= btn-success routerLink="/app-Users" type="button" >Users</button>
    <button class= btn-success routerLink="/app-form" type="button" >Login</button>
  </form>
</nav> -->
<!--<router-outlet></router-outlet> -->      
<!-- <p>{{childData}}</p>
<button (click)="ABC()">click to get Alert</button> -->
<!-- <app-example></app-example> -->
<!--<div class="container">
  <div class="card">
    <div class="card-body">
      <router-outlet name="sample"></router-outlet>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <router-outlet name="form"></router-outlet>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <router-outlet name="new-form"></router-outlet>
    </div>
  </div>
</div>-->
<app-header></app-header>
<router-outlet></router-outlet>